*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(20, 229, 187), rgb(169, 244, 244));
}
.wrapper
{
position: relative;;
width:400px;
height: 485px;
background: white;
border: 2px solid white;
border-radius: 20px ;
padding: 25px;
}

.form-box{
    height: 100%;
    width: 100%;
}
.form-box-login >.formgroup{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formtitle{
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
}

.form-check-forgotpw{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.btn >.btn__submit
{

    width: 100%;
    height:30px;
    margin: 28px 0 18px 0;
}


.form__input--size
{
position: relative;
outline-color: rgba(4, 150, 9, 0.803);  
width: 100%;
height:35px;
margin: 10px 0;
padding: 3px 15px;
border:none;
border-bottom: 2;
}

.form__input input:focus~label{
    transform: translateY(-20%);
}


.group--signup{
  text-align: center;
}
.form-link
{
text-decoration: none;
}
#icon_eye--on{
    position: absolute;
    left:20px;
}
/* -----------------------------------------css form sign up------------------------------------------------ */

.form__signup{
    display: flex;
    justify-content: center;
}

.login {
    transform: scale(1);   
}
.signup{
   
    transform: scale(0);
    position: absolute;
    left:0;
    padding: 25px;
    
}
